.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #ffffff;
}

.logo {
  margin-bottom: 2rem;
  width: 120px;
  height: auto;
}

.title {
  margin-bottom: 3rem;
  font-size: 32px;
  color: #F37021;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  gap: 10px
}